@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

@layer components {
  .global-container {
    @apply max-w-[1000px] mx-auto px-8 flex justify-between h-full font-mono text-white;
  }
}
